    <footer class="footer">
        <div class="container">
            <a href="index.html" class="footer--index">
                <img src="../images/src/skillart-logo-footer.svg" alt="" class="footer--svg">
            </a>
            <div class="descr">
                <span class="descr--title">ИП Непогода Р.А.  УНП 291210693</span>
                <nav class="nav">
                    <ul class="nav--descr">
                        <li class="nav--descr__item nav--descr__title">
                            <span>Контакты:</span>
                        </li>
                        <li class="nav--descr__item">
                            <a href="tel:+79061536104" class="nav--descr__link">
                                <img src="../images/src/phone-footer.svg" alt="">
                                <span>+7 906 153 61 04</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="https://yandex.ru/maps/-/CDgm6ZKI" class="nav--descr__link">
                                <img src="../images/src/map-footer.svg" alt="">
                                <span>Красково, Лорха 3</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="mailto:emiliansar@gmail.com" class="nav--descr__link">
                                <img src="../images/src/mail-footer.svg" alt="">
                                <span>emiliansar@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav--descr">
                        <li class="nav--descr__item nav--descr__title">
                            <span>Курсы:</span>
                        </li>
                        <li class="nav--descr__item">
                            <a href="tel:+79061536104" class="nav--descr__link">
                                <span>“Для начинающих”</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="https://yandex.ru/maps/-/CDgm6ZKI" class="nav--descr__link">
                                <span>“Имитация мрамора”</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>“Лофт”</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>“Индивидуальное обучение”</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>“Тонкослойные нанесения”</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>“Индивидуальное обучение”</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav--descr">
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>Расписание курсов</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>Отзывы</span>
                            </a>
                        </li>
                        <li class="nav--descr__item">
                            <a href="" class="nav--descr__link">
                                <span>О нас</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    
    <script src="js/main.min.js"></script>
</body>
</html>