<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILL ART</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <header class="header">
        <div class="animation">
            <div class="animation--text">
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
                <span class="animation--text__item">5 - 6 ИЮЛЯ КУРС “ДЛЯ НАЧИНАЮЩИХ”</span>
            </div>
        </div>
        <div class="nav--wrapper">
            <div class="container">
                <nav class="nav">
                    <ul class="nav--pages">
                        <li class="nav--pages__item">
                            <a href="contacts.html" class="nav--pages__link">Контакты</a>
                        </li>
                        <li class="nav--pages__item">
                            <a href="about.html" class="nav--pages__link">О нас</a>
                        </li>
                        <li class="nav--pages__item nav--pages__index">
                            <a href="index.html" class="nav--pages__link">
                                <img src="/images/sprite.svg#skillart-logo" alt="SKILLart logo" class="nav--pages__logo">
                            </a>
                        </li>
                        <li class="nav--pages__item">
                            <a href="course.html" class="nav--pages__link">Курсы</a>
                        </li>
                        <li class="nav--pages__item">
                            <a href="plan.html" class="nav--pages__link">Расписание</a>
                        </li>
                    </ul>
                    <ul class="nav--links">
                        <li class="nav--links__item">
                            <a href="tel:+79061536104" class="nav--links__link">
                                <img src="../images/src/phone.svg" alt="phone-link" class="nav--links__img">
                            </a>
                        </li>
                        <li class="nav--links__item">
                            <a href="mailto:emiliansar@gmail.com" class="nav--links__link">
                                <img src="../images/src/mail.svg" alt="mail-link" class="nav--links__img">
                            </a>
                        </li>
                            <li class="nav--links__item">
                            <a href="https://t.me/Emelay_1234" class="nav--links__link">
                                <img src="../images/src/telegram.svg" alt="telegram-link" class="nav--links__img">
                            </a>
                        </li>
                        <li class="nav--links__item">
                            <a href="" class="nav--links__link">
                                <img src="../images/src/instagram.svg" alt="instagram-link" class="nav--links__img">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>